.aow-simple-image-slider-wrapper {
    text-align: center;
}
.aow-simple-image-slider {
    width: 50%;
    display: inline-block;
}
.aow-simple-image-slider .image-wrapper {
    margin-bottom: 20px;
}
.aow-simple-image-slider-wrapper .hidden {
    display: none;
}

.aow-simple-image-slider .image-wrapper img {
    width: 100%;
}
.aow-simple-image-slider .thumb-wrapper .thumb-image {
    background-size: cover;
    background-position: center;
    width: 50px;
    height: 50px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}
.aow-simple-image-slider .thumb-wrapper .thumb-image:first-child {
    margin-left: 0px;
}
